{{#if givenName }}
  <h1>Welcome, {{ givenName }}</h1>
{{else}}
  <h1>Welcome</h1>
{{/if}}
<table class="table">
  <tbody>
    <tr>
      <th>Email</th>
      {{#if email}}
        <td>
          {{ email }}
        </td>
      {{else}}
        <td>
          <i>Not provided</i>
        </td>
      {{/if}}
    </tr>
    <tr>
      <th>Full Name</th>
      {{#if name}}
        <td>
          {{ name }}
        </td>
      {{else}}
        <td>
          <i>Not provided</i>
        </td>
      {{/if}}
    </tr>
  </tbody>
</table>
